################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Tp/TpLab2/TpLab2/Program.cs
/Tp/TpLab2/TpLab2/Program.cs
